{{> header}}

<h1>{{title}}</h1>
<form method="post" action="/blog">
    Enter: <input type="text" name="text1">
    <input type="submit" value="click">
</form>
<br/>
<form method="post" action="/dbresponse">
    Employee ID: <input type="text" name="employeeId">
    <input type="submit" value="Click">
</form>
{{> footer}}